*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.IntelliJ.metadata
**/DerivedData/
**/Pods/
**/Flutter/Flutter.podspec
**/Flutter/Flutter.framework
**/Flutter/Flutter.xcframework
**/Flutter/GeneratedPluginRegistrant.*
**/GoogleService-Info.plist
**/ServiceAccountKey.json
**/flutter_root/
**/.symlinks/
**/.generated/
flutter/Flutter/Flutter.podspec
flutter_root=
.dart_tool/
.packages
.pub/
build/
pubspec.lock
.flutter-plugins
.flutter-plugin-dependencies
GeneratedPluginRegistrant.swift
GeneratedPluginRegistrant.h
ios/Pods/
Flutter/Flutter.podspec
Flutter/Flutter.framework
Flutter/Flutter.xcframework
Flutter/GeneratedPluginRegistrant.swift
GeneratedPluginRegistrant.swift
flutter_export_environment.sh
Generated.xcconfig

